* {
    color: #4D4D4D;
    border-color: #4D4D4D;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(#7fffd4, #39cec1, #7fffd4);
    background-size: 200% 200%;
    animation: gradient 60s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 0% 200%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#button {
    display: flex;
    justify-content: center;
}

.pause {
    display: none;
}

.play {
    display: block;
}

#pageHead {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

#websiteLogo {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

h1 {
    font-size: xx-large;
    margin-top: 30px;
}

#timer {
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
    font-weight: 600;
    font-family: monospace;
}

#leftBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 1%;
}

#rightBlock {
    margin: auto 5%;
}

input {
    background-color: #1FCFC1;
    border-radius: 5px;
    border-width: 2px;
    padding: 4px;
}

label {
    font-weight: bold;
}

#audioList {
    display: flex;
    flex-wrap: wrap;
}

.audioListElement {
    flex: 1 0 auto;
    display: flex;
    border: 1px solid;
    border-radius: 12px;
    margin: 12px 12px;
}

.audioListElement .text{
    flex: 1;
    background-color: transparent;
    padding: 16px;
}

.audioListElement .bubble {
    background-color: rgb(168, 255, 245);
    border-radius: 10px;
}

.audioListElement button {
    border-radius: 0;
    border-width: 0 0 0 1px;
}

button {
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
}

#playlistPage {
    width: 100%;
    position: absolute;
    top: 100%;
}

form {
    display: flex;

    flex-direction: column;
    justify-content: center;
    width: 15%;
    padding: 15px;
    margin: auto auto;
}

input[type=text], input[type=url], input[type=submit] {
    margin: 10px;
    width: 100%;
}

input:placeholder-shown {
    background-color: rgb(209, 106, 106);
}

a:hover {
    color: #1FCFC1;
}