body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

#button
{
    display: flex;
    justify-content: center;
}

.pause
{
    display: none;
}

.play
{
    display: block;
}